.App {
    text-align: center;
}

.header {
    font-weight: 100;
    font-size: 5rem;
    color: #e9d9d8;
    margin: 0;
    font-family: "Courier New";
}

.todoList {
    background-color: white;
    box-sizing: border-box;
    position: relative;
    width: 50ch;
    margin: auto;

    display: flexbox;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.todoList__input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 1em;
    padding-left: 4.5em;
    border-bottom: 1px solid lightgrey;
}

.todoList__input::placeholder {
    font-style: italic;
    color: lightgray;
}

.input__icon {
    position: absolute;
    color: lightgrey;
    top: 0.75em;
    left: 1.3em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.625rem;
    color: #878787;
    padding: 0.625em;
}

.filterBlock {
    display: flex;
    gap: 1.25em;
}

.filterBlock span:active {
    border: 1px solid darkred;
    border-radius: 0.25em;
    padding: 0.25em;
}

.button {
    background: none;
    border: none;
    font-size: 0.625rem;
    color: #878787;
    cursor: pointer;
}



